#particles-js {
  position: fixed;
  left: 13%;
  top: 0;
  width: 160px;
  height: 100%;
}

body {
  background: black;
}

span {
  color: #0FF;
  font-size: 22px;
  font-family: monospace;
}

#writeThis {
  margin-Top: 10%;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  color: #0FF;
  text-shadow: 0 0 4px #0FF;
  opacity: 0.9;
}

.moon {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 400px;
  height: 300px;
}

.typeText {
  margin-Top: 11%;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  color: #FF1493;
  text-shadow: 0 0 4px #FF1493;
  /*opacity: 0.9;*/
}

.blinker {
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  margin-left: -5px;
  border-left: 7px solid #0FF;
  text-shadow: 0 0 4px #0FF;
  opacity: 0.9;
  animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
  to {
    visibility: hidden;
  }
}

a {
  text-decoration: none;
  color: #0FF;
  text-shadow: 0 0 4px #0FF;
  opacity: 0.9;
}


/* START OF DROPDOWN STYLE */
.dropbtn {
  color: white;
  background-color: black;
  padding: 3px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: #FF1493;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  text-align: center |important;
  background-color: black;
  margin-left: 45%;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 16px;
  display: block;
}

.dropdown-content a:hover {
  color: #0FF;
}

.show {display: block;}

/* END OF DROPDOWN STYLE */

.comment {
  font-size: 14px;
  position: absolute;
  color: grey;
  padding-left: 30%;
  padding-right: 32%;
  padding-top: 55px;
}

.boy {
  position: absolute;
  margin-left: 10%;
  bottom: 0;
  height: 54%;
  width: 14%;
}

footer {
  font-family: monospace;
  text-align: right;
  color: #4AF626;
  position: absolute;
  margin-right: 5%;
  bottom: 0;
  width: 98.5%;
}

/* Bubble container */
.bubble {
  position: relative;
  text-align: center;
  display: inline-block;
  /* border-bottom: 1px dotted green; If you want dots under the hoverable text */
}

/* Bubble text */
.bubble .bubbletext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 16px;
  outline-color: #FF1493;
  outline-style: dotted;

  /* Position the Bubble text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the Bubble text when you mouse over the tooltip container */
.bubble:hover .bubbletext {
  visibility: visible;
}
